<a href="https://colab.research.google.com/github/pierremaujonnet/InitiationPython/blob/main/Calculs_de_sommes01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Comment calculer une somme
Nous souhaitons calculer la somme $∑\limits_{k=0}^nk2^k$ de plusieurs manières différentes.

##Utilisation de l'instruction `range`
Compléter le code suivant, puis l'exécuter.

In [10]:
def somme1(n):
  somme = 0
  for k in range(n+1):
    somme = somme + k*2**k
  return somme

print(somme1(10))#Le résultat attendu est 18434

18434

### Remarques
*   L'instruction `range(a)` renvoie un objet itérable parcourant les entiers compris entre **0 inclus** et **a exclu**. Pour que a soit atteint dans notre boucle, on utilise l'instruction `range(a+1)`.
*   L'instruction `range(a,b)` renvoie un objet itérable parcourant les entiers compris entre **a inclus** et **b exclu**.
*   L'instruction `range(a,b,c)` renvoie un objet itérable parcourant les entiers compris entre **a inclus** et **b exclu** avec un **pas** égal à **c**.

##Utilisation d'une boucle `while`
Compléter le code suivant, puis l'exécuter.

In [13]:
def somme2(n):
  somme = 0
  k = 0
  while k <= n:
    somme = somme + k*2**k
    k = k + 1
  return somme

print(somme2(10))#Le résultat attendu est 18434

18434

##Utilisation de l'opérateur `+=`
L'opérateur `+=` ajoute une valeur à la valeur d'une variable.
Par exemple :

In [11]:
a = 5
a+= 3
print(a)

8

Compléter le code suivant en utilisant l'opérateur `+=`, puis l'exécuter.

In [12]:
def somme3(n):
  somme = 0
  k = 0
  while k <= n:
    somme += k*2**k
    k += 1
  return somme

print(somme3(10))#Le résultat attendu est 18434

18434

##Utilisation d'une boucle `while` (parcours inversé)
Compléter le code suivant, puis l'exécuter.

In [15]:
def somme4(n):
  somme = 0
  while n>=0:
    somme += n*2**n
    n -= 1
  return somme

print(somme4(10))#Le résultat attendu est 18434

18434

##Utilisation d'une fonction récursive
Compléter le code suivant, puis l'exécuter.

In [16]:
def somme5(n):
  if n>=0:
    return n*2**n + somme5(n-1)
  else:
    return 0

print(somme5(10))#Le résultat attendu est 18434

18434